<div class="accordion-content">
    <ul>
        <form id="createFileForm" data-form="register" action="create_file" method="post" enctype="multipart/form-data">
            <input type="hidden" name="upload_group_key" value="{{ upload_group_key }}">
            <table>
                <tr>
                    <td>
                        <input type="hidden" value="na" id="name" name="name">

                        <h3>Specify Files</h3>
                        <hr>
                        <ul>
                            <label for="file_data">A Local File:</label>
                            <input type="file" id="file_data" name="file_data">
                            <br><br>

                            <label for="directory">A Directory Of Files <br>(NOT RECURSIVE, max 1k files):</label>
                            <input type="file" id="directory" name="directory" webkitdirectory directory multiple>
                            <br><br>

                            <label for="urls">Public URLs To Files (one per line):</label>
                            <textarea id="urls" name="urls" rows="5" cols="25"></textarea>
                            <br><br>

                            <label for="s3_uris">S3 URIs (accessible to dewey):</label>
                            <textarea id="s3_uris" name="s3_uris" rows="5" cols="28"></textarea>
                            <br><br>
                        </ul>
                    </td>
                    <td>
                        <h3>Add Metadata</h3>
                        <ul>
                            <small>upload group key: <code>{{ upload_group_key }}</code></small>
                            <br><br>

                            {% for field in ui_fields %}
                                <div>
                                    {% if field.type == "select" %}
                                        {% if field.name == "creating_user" %}
                                          
                                        {% else %}
                                        <label for="{{ field.name }}">{{ field.label }}</label>

                                        <select name="{{ field.name }}" id="{{ field.name }}" class="select-filter">
                                            <option value="" selected></option> <!-- Placeholder for blank state -->
                                            {% for option in field.options %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                        {% endif %}
                                    {% else %}
                                    <label for="{{ field.name }}">{{ field.label }}</label>

                                        {% if field.name.endswith('_datetime') %}
                                            <input type="date" name="{{ field.name }}" id="{{ field.name }}" />
                                        {% else %}
                                            <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.name }}" />
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Create</button>
                    </td>
                </tr>
            </table>
        </form>
    </ul>
</div>
